#==============xcode===============
proj.ios_mac/imguix.xcodeproj/project.xcworkspace
proj.ios_mac/imguix.xcodeproj/xcuserdata
proj.mac/imguix.xcodeproj/project.xcworkspace
proj.mac/imguix.xcodeproj/xcuserdata
xcshareddata/
xcuserdata

#==============win32===============
proj.win32/Debug.win32/
proj.win32/imguix.sdf
proj.win32/imguix.v12.suo
Debug.win32
proj.win32/.vs/
*.sln
*.vcxproj
*.filters
*.proj

#==============cmake===============
cmake-build-*/
dist/
CMakeFiles/
engine/
CMakeCache.txt
cmake_install.cmake
build/
#==============ide===============
.idea/
.vscode/
bin/

#==============other==========
._*
dpms_/
*.log
.*

